APP_NAME=TestRestaurant
APP_ENV=testing
APP_KEY=base64:my_secret_key
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=ristopilot-tenant_database
DB_PORT=3306
DB_DATABASE=ristopilot_tenant_testing
DB_USERNAME=test
DB_PASSWORD=test

CACHE_STORE=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync
MAIL_MAILER=array

BCRYPT_ROUNDS=4